{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Pitz Michaël" />
    <title>{% block title %}Notre Blog {% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {# Block de AssetMapper #}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
