{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/micha/MesDocuments/SITES/2024/Symfony-6.4-LTS/src/Controller/PublicController.php</code></li>
        <li>Your template at <code>C:/Users/micha/MesDocuments/SITES/2024/Symfony-6.4-LTS/templates/public/index.html.twig</code></li>
        <li>Me <a href="{{ path('public_contact') }}">contacter</a></li>
        # chemin vers la page de l'article en utilisant son nom de route (public_article) et en envoyant l'id 1
        en paramètre#}
        <li>Un <a href="{{ path('public_article', {'id': 1}) }}">article dont l'id vaut 1</a></li>
        {# chemin vers la page de l'article en utilisant son nom  de route (public_article_type)
et en envoyant l'id 1 en paramètre protégé#}
        <li>Un <a href="{{ path('public_article_type', {'id': 2}) }}">article dont l'id vaut 2</a> (numérique entier non signé)</li>
    </ul>
</div>
{% endblock %}
